services:
  mongodb:
    image: mongo:4.4
    restart: unless-stopped
    env_file: .env
    environment:
      - DOCKER_ENV=true
    volumes:
      - db:/data/db
  app:
    depends_on:
      - mongodb
    build: .
    restart: unless-stopped
    env_file: .env
    ports:
      - "${APP_PORT}:${APP_PORT}"
    environment:
      - DOCKER_ENV=true
    stdin_open: true
    tty: true

volumes:
  db:
